# Node/Python/IDE
node_modules/
venv/
.env
.env.local
.DS_Store
*.log
*.sqlite
*.db
__pycache__/
.idea/
.vscode/
dist/
build/

# OS
Thumbs.db
desktop.ini

# Editor
*.sublime-workspace
*.sublime-project

# Others
coverage/
coverage-final.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
